// https://github.com/necolas/normalize.css/issues/664
body {
    margin: 0;
    font-size: 100%;
    height: 100vh;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    position: relative;
    overflow-y: scroll;
    font-size: 100%;

    &.is-blocked {
        overflow: hidden;
    }

    &.is-blocked-touch {
        position: fixed;
        overflow-y: scroll;
        width: 100%;
        height: auto;
    }
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
}

.container {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
}

.color-t-primary {
    color: $color-t-primary;
}

.color-ct-primary {
    color: $color-ct-primary;
}

.of-cover {
    & > img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
