.matches {
    padding: 20px 20px;

    @include desktop {
        padding: 30px 30px;
    }

    &__title {
        margin: 0;

        @include desktop {
            margin: 0 0 10px;
        }
    }

    &__grid {
        margin: 0 -15px;
    }

    &__list {
        @include reset-list();

        display: flex;
        flex-wrap: wrap;
    }

    &__li {
        width: 100%;
        padding: 15px;

        @include tablet {
            width: 100 / 3 + 0%;
        }

        @include desktop {
            width: 25%;
        }
    }
}
