$color-white: #FFFFFF;
$color-grey: #333333;
$color-light-grey: #999999;
$color-light-blue: #ACEAF2;
$color-dark-blue: #001529;
$color-t-primary: #c77900;
$color-ct-primary: #0093d6;
$color-orange-red: #ff4500;
$color-green: #2B8929;
