.match-kills {
    &__list {
        @include reset-list();
    }

    &__li {
        color: white;
        font-size: 12px;
        text-align: right;

        @include desktop {
            font-size: 14px;
        }

        & + & {
            margin-top: 5px;
        }
    }

    &__log {
        display: inline-block;
        padding: 2px 10px;
        border-radius: 4px;
        color: white;
    }

    &__time {
        display: inline-block;
        padding: 0 4px;
        border-radius: 4px;
        color: #AAAAAA;
        font-weight: 500;
    }

    &__player {
        padding: 2px 5px;
        border-radius: 4px;

        &.t {
            background-color: $color-t-primary;
        }

        &.ct {
            background-color: $color-ct-primary;
        }
    }

    &__weapon {
        margin: 0 2px;
        max-height: 16px;
        object-fit: contain;

        @include desktop {
            max-height: 20px;
        }
    }

    &__headshot,
    &__suicide,
    &__penetrated {
        margin: 0 2px;
        max-height: 20px;
        object-fit: contain;

        @include desktop {
            max-height: 24px;
        }
    }
}
